:root {
  --main-color: #4d5ae5;
  --primary-color: #2e2f42;
  --white-color: #ffffff;
  --alternative-color: #404bbf;
  --contacts-color: #434455;
  --diary: #fcfcfc;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--contacts-color);
  background-color: var(--white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-feature {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==== reset start ==== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p,
ul {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
} */

.hidden {
  display: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 96px 0;
}

.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* ==== reset ends ==== */

/* Mobile styles header */

.header-page {
  border-bottom: 1px solid #e7e9fc; 
  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.trademark-link.link {
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.trademark-link.link  {
  text-decoration: none;
  padding: 24px 0;
}

@media only screen and (min-width: 768px) {
  .trademark-link.link  {
    margin-right: auto;
  }
}

.trademark-dark {
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

/* ==== HEADER ==== */

.address {
  font-style: normal;
}

.nav-link {
  display: block;
  color: var(--primary-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: color var(--animation)
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-link.current::after {
  background-color: var(--alternative-color);
}

.current {
  color: var(--alternative-color);
}

.nav-link.link {
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  display: flex;
  color: var(--alternative-color);
}

.header-container,
.nav-main {
  display: flex;
  align-items: center;
}


.trademark-link.link {
  display: block;
  margin-right: 76px;
}

/* Desktop navigation */
.nav-list {
  display: flex;
  
}

/* Mobile and Tablet navigation */
@media only screen and (max-width: 767px) {
  .nav-list,
  .address {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
   .address {
    margin-left: auto;
  }
}

/* Mobile */
.list-address.list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  gap: 12px;
}

/* Desktop */
@media only screen and (min-width: 1158px) {
  .list-address.list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .contact.link {
    display: block;
    color: var(--contacts-color);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--animation);
  }
}

@media only screen and (min-width: 1158px) {
  .contact.link {
    display: block;
    color: var(--contacts-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--animation);
  }
}

.contact.link:hover,
.contact.link:focus {
  color: var(--alternative-color);
}

@media only screen and (min-width: 1158px) {
  .menu-toggle-icon {
    display: none;
  }
}

.menu-toggle-icon {
    margin: 0;
    stroke: var(--primary-color);
  }


/* ==== HERO SECTION ==== */

.first-sec {
  background: #2e2f42;
  text-align: center;
  padding: 112px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

@media only screen and (max-width: 428px) {
  .first-sec {
      background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg_mob.jpg);
  }

  @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .first-sec {
          background-image:
          linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/Dark-bg_mob@2x.jpg);
      }
  }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
  .first-sec {
      background-image: 
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/Dark-bg_tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
          background-image:
          linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/Dark-bg_tablet@2x.jpg);
      }
  }
}

@media only screen and (min-width: 769px) {
  .first-sec {
      background-image: 
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office\ 1desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .first-sec {
          background-image:
          linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/people-office\ 1desk@2x.jpg);
      }
  }
}

.first-sec-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 320px;

  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

}

/* Tablet styles for hero section */
@media only screen and (min-width: 768px) {
  .first-sec-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

 /* Desktop styles for hero section */
@media only screen and (min-width: 1158px) {
  .first-sec-title {
    margin-bottom: 48px;
  }
}

/* BUTTON */

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--animation);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--alternative-color);
}


/* ==== SECTIONS ==== */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-color);

  margin-bottom: 72px;
}

.section.one {
  padding: 96px 0;
  margin: 0 auto;
}

/* ==== SECOND AND FOURTH SECTIONS ==== */

.paragraph {
  margin-top: 8px;
}

 .second-sec-div {
  display: none;
  align-items: center;
  justify-content: center;

  height: 112px;
  background-color: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 24px 100px;
}

.second-sec-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Desktop second-sec-div */
@media only screen and (min-width: 1158px) {
  .second-sec-div{
    display: flex;
  }
}

.second-sec {
  padding-bottom: 0;
}

.second-sec-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;

  padding-left: 0;
}

.second-text-item .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}

/* Tablet styles for texts */
@media screen and (min-width: 768px) {
  .second-text-item  {
    max-width: calc((100% - 24px) / 2);
  }
  .second-text-item .title {
    text-align: start;
  }
}

/* Desktop styles for texts */
@media only screen and (min-width: 1158px) {
  .second-text-item  {
    width: calc((100% - 72px) / 4);
  }
}

@media only screen and (min-width: 1158px) {
  .second-text-item .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: var(--primary-color);
    margin-bottom: 8px;
  }
}

.paragraph.second-sec {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--contacts-color);
}

/* Tablet styles for paragraph */
@media screen and (min-width: 768px) {
 .paragraph.second-sec {
   font-weight: 500;
   font-style: normal;
   line-height: 1.11;
   font-size: 16px;

  letter-spacing: 0.02em;
  }
}

/* Desktop styles for paragraph */

@media only screen and (min-width: 1158px) {
  .paragraph.second-sec  {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  }
}

/* Socials icons */

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;
  fill: var(--white-color);

  transition: background-color var(--animation);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--alternative-color);
}

.socials-icon {
  fill: #f4f4fd;
}

/* TEAM */

.team {
  background-color: #f4f4f4;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  text-align: center;
}

/* Desktop and Tablet styles for team-list */
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    max-width: calc((100% - 3 * 24px) / 4);
  }
}

.team-wraper {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.title.team-name {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;

color: var(--primary-color);
}

.paragraph.team-role {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.11;

   text-align: center;
   letter-spacing: 0.02em;

   color: var(--contacts-color);
  }

.team-item .title {
  text-align: center;
}
.team-item .text {
  text-align: center;
  margin-bottom: 8px;
}

/* ==== THIRD SECTION ==== */


.third-sec {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .third-sec {
    display: block;
  }
}

.third-sec-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .third-sec-title {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    row-gap: 76px;
  }
}

/*==== Customers section ==== */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;

  row-gap: 16px;
}

@media only screen and (min-width: 428px) {
  .clients-list {
    column-gap: 16px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .clients-list {
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;

  transition: color var(--animation), border-color var(--animation);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--alternative-color);
  border-color: 1px solid var(--alternative-color);
}

@media only screen and (max-width: 767px) {
  .clients-link{
    width: 190px;
  }
}
.clients-icon {
  fill: currentColor;
}


/* ==== FOOTER SECTION ==== */

.footer-sec {
  background: var(--primary-color);

  padding: 96px 0;
}

/* FOOTER LOGO */

.logo-link {
  display: block;
  margin-bottom: 18px;
  text-align: center;
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-white {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo-link.link {
    margin: 0 0 16px;
    text-align: left;
  }
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: #f4f4fd;
  margin-bottom: 0;
  width: 264px;
}

.footer-social-media {
  font-weight: 500;
  color: var(--white-color);
  margin-top: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-social-media {
    text-align: left;
  }
}

.footer-social.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-social.container {
    padding: 0 108px;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social.container {
    align-items: baseline;
    flex-direction: row;
  }
}

.footer-logo-div {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-logo-div {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-div {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-social-link {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-social-link {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-link {
    margin-right: 80px;
  }
}

.sm-item {
  align-items: baseline;
  width: 40px;
  height: 40px;
}


/* Footer icons */

.footer-social-list.list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}


.link-sm.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
   
  gap: 16px;

  background-color: var(--main-color);
  border-radius: 50%;

  transition: background-color var(--animation);
}

.link-sm:hover,
.link-sm:focus {
  background-color: #31d0aa;
}

.sm-icon {
  fill: #f4f4fd;
}

/* Footer subscribe */

.footer {
  background: var(--primary-color);
  padding: 100px 0;
}

.subscribe {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .subscribe {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    flex-direction: row;
    gap: 24px;
  }
}

.sub-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media only screen and (min-width: 1158px) {
  .sub-title {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .sub-title {
    display: flex;
  }
}


.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .input {
    width: 264px;
  }
}

.input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  gap: 16px;
  
  width: 165px;
  height: 40px;

  border-radius: 4px;
  border: 0;

  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--main-color);
  transition: background-color 250ms var(--animation),
    box-shadow 250ms var(--animation);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--alternative-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
}


/* ========= MODAL STYLES ========= */

.backdrop {
  position: fixed;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 400ms var(--animation), visibility 400ms var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 576px;
    padding: 72px 16px 24px;

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media only screen and (max-width: 427px) {
  .modal {
      width: 90%;
    }
  }
  
  @media screen and (max-height: 584px) {
      .backdrop {
          overflow: auto;
      }
      
      .modal {
          top: 0;
          transform: translate(-50%, 0);
      }
  }

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;

  margin-left: auto;
  align-items: center;
  justify-content: center;

  border: 1px;
  border-radius: 50%;
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: #e7e9fc;

  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--white-color);
  background-color: var(--alternative-color);
}
.modal-icon {

  fill: currentColor;

  transition: var(--animation);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: var(--white-color);
}

@media screen and (orientation:landscape) {
  .backdrop {
      top: 0;
      transform: translateY(0);
  }
}

/* Modal form */

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  color: #2e2f42;
}

.modal-form {
  display: block;
  margin-bottom: 4px;

  color: #8E8F99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-label {
  display: block;
  
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01;
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  padding: 11px 38px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline-color 250ms var(--animation);
}

.modal-form-input:focus {
  outline-color: var(--main-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  fill: var(--primary-color);
  transform: translateY(-50%);
  transition: fill 250ms var(--animation);
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--main-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: border-color 250ms var(--animation);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
  border: none;
  outline-color: var(--main-color);
}
.modal-form-agreement {
  display: flex;
  align-items: center;
}
.modal-form-agreement-box {
  appearance: none;
  width: 16px;
  height: 16px;

  flex-shrink: 0;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.77941 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 300ms var(--animation), border-color 300ms var(--animation), background-size var(--animation);
  cursor: pointer;
}
.modal-form-agreement-box:checked {
  background-color: var(--alternative-color);
  border-color: var(--alternative-color);
  background-size: 10px;
}
.modal-form-agreement-text {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: #8E8F99;
}
.privacy-text {
  color: var(--main-color);
}

.modal-form-btn.button {
    display: block;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    margin-top: 24px;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--main-color);
    transition: background-color 250ms var(--animation), box-shadow 250ms var(--animation);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--alternative-color);
}


/* ========= MOBILE MENU STYLES ========= */

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle.js-close-menu {
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close {
  fill: var(--primary-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}


.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu.list {
  display: block;
  margin-bottom: auto;
}

.mobile-li-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-link.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.email-mobile-link.link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.mobile-menu .link {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-link.tel.link,
.email-mobile-link.link {
  text-transform: lowercase;
  text-decoration: none;
}

@media screen and (max-width: 427px) {
   .mobile-link.tel.link {
    font-size: 24px;
  }
}

.mobile-link.tel {
  display: inline-block;
  margin-bottom: 40px;
}

.mobile-contacts.list {
  display: block;
}


.mobile-social {
  display: flex;
  margin-top: 48px;
}

@media screen and (max-width: 427px) {
  .mobile-social {
    gap: 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 428px) {
  .mobile-social {
    gap: 56px;
  }
}

.mobile-link.link,
.email-mobile-link.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link.link:focus,
.email-mobile-link.link:focus,
.mobile-link.link:hover,
.email-mobile-link.link:hover {
  color: var(--primary-color);
}

.mobile-link.link.current-mobile {
  color: var(--alternative-color);
}


/* LOGO */

.trademark-link {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.trademark-dark {
  align-items: center;

  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* NAVIGATION */

.nav-main {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav-list {
  gap: 40px;
}

.nav-list .item:last-child {
  margin-right: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--alternative-color);
}

.list-address {
  align-items: center;
  gap: 40px;
}

.list-address .item:last-child {
  margin-right: 0;
}

.address {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--alternative-color);
}

/* ==== BUTTONS AND PICTURES ==== */

.btn-img {
  padding: 96px 0 120px;
}

.btn-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button:first-child {
  margin-left: o;
}

.button {
  align-items: center;
  border: 1px solid transparent;
  padding: 12px 24px;
  border-radius: 4px;

  color: var(--main-color);
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: color var(--animation), background-color var(--animation),
    border var(--animation), box-shadow var(--animation);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--alternative-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==== PROJECTS ==== */

.project-item {
  width: calc((100% - 48px) / 3);
}
.project-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--main-color);
  transition: transform var(--animation);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0);
}
.overlay-label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.project-wraper {
  padding: 32px 16px;
  width: 360px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  column-gap: 24px;
  row-gap: 48px;
}

.project-link {
  display: block;

  transition: box-shadow var(--animation);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-name {
  margin-bottom: 8px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.project-text {
  color: var(--contacts-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ==== FOOTER ==== */
.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}